# {{ ansible_managed }}
{% if sshd_base_config_enabled %}
# Please place any local additions (NOT overrides!) in /etc/ssh/conf.d in a seperate file
#
# The only overrides possible are for lines that are still commented out (which are the defaults for openssh)
#
# This config is compliant with Mozilla Modern https://infosec.mozilla.org/guidelines/openssh and tuned to
# only support the most recent and secure algorithms. This configuration will work on Debian 10+ and RHEL8+
#
# The only exception is that the root user is still allowed to log on, with pubkey authentication

##
## START OF 00_sshd_base
##

# Server setup
Port {{ sshd_listen_port }}
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::
Protocol 2

{% for hostkey in sshd_hostkeys_enabled %}
HostKey /etc/ssh/ssh_host_{{ hostkey }}_key
{% endfor %}

# Ciphers and keying
RekeyLimit default none
KexAlgorithms {{ sshd_kexalgos }}
Ciphers {{ sshd_ciphers }}
MACs {{ sshd_macs }}
HostKeyAlgorithms {{ sshd_hostkeyalgorithms }}
CASignatureAlgorithms {{ sshd_casignaturealgorithms }}

{% if ansible_facts['packages']['openssh-server'][0]['version'] is version( '8.5', 'ge') %}
PubkeyAcceptedAlgorithms {{ sshd_pubkeyacceptedalgorithms }}
{% else %}
PubkeyAcceptedKeyTypes {{ sshd_pubkeyacceptedalgorithms }}
{% endif %}
{% if ansible_facts['distribution_version'] is version('9.1', 'ge') and ansible_facts['distribution'] == 'RedHat' %}
RequiredRSASize {{ sshd_requiredrsasize }}
{% endif %}

# Logging
LogLevel INFO

# Authentication
LoginGraceTime 60
PermitRootLogin {{ sshd_permit_root_login }}
PermitEmptyPasswords no
HostbasedAuthentication no
IgnoreRhosts yes
StrictModes yes
MaxAuthTries 4
MaxSessions {{ sshd_max_sessions }}

{% if sshd_kerberos_authentication -%}
# Enable Kerberos Authentication
KerberosAuthentication yes
GSSAPIAuthentication yes
GSSAPICleanupCredentials yes
ChallengeResponseAuthentication {{ sshd_kerberos_password_prompts }}
{% endif %}

AuthenticationMethods publickey{% if sshd_kerberos_authentication %} gssapi-with-mic{% endif %}{% if sshd_password_authentication | bool %} password{% endif %}

PasswordAuthentication {{ sshd_password_authentication }}
AuthorizedKeysFile	.ssh/authorized_keys
UsePAM yes

# Forwarding
#GatewayPorts no
X11Forwarding {{ sshd_x11_forwarding }}
AllowTcpForwarding {{ sshd_tcp_forwarding }}
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes

# Security & Hardening
PermitUserEnvironment no
#PermitTunnel no
#ChrootDirectory none

# Access control
{% if sshd_allowgroups | length > 0 %}
AllowGroups {{ sshd_allowgroups | join(' ') }}
{% endif %}
{% if sshd_denygroups | length > 0 %}
DenyGroups {{ sshd_denygroups | join(' ') }}
{% endif %}
{% if sshd_allowusers | length > 0 %}
AllowUsers {{ sshd_allowusers | join(' ') }}
{% endif %}
{% if sshd_denyusers | length > 0 %}
DenyUsers {{ sshd_denyusers | join(' ') }}
{% endif %}

# Performance
ClientAliveInterval 15
ClientAliveCountMax 3
TCPKeepAlive yes
Compression no
UseDNS no
MaxStartups 10:30:60

# Housekeeping
#PidFile /var/run/sshd.pid
#VersionAddendum none
Banner /etc/issue.net
PrintMotd {{ sshd_print_motd }}
AcceptEnv LANG LC_* GIT_AUTHOR_* GIT_COMMITER_*
Subsystem	sftp	{{ sshd_sftp_location }}

{% if ansible_facts['os_family'] == 'Debian' %}
DebianBanner no
{% endif %}

{% if sshd_sssd_authorized_keys %}
# Fetch authorized_keys via SSSD
AuthorizedKeysCommandUser {{ sshd_sssd_authorizedkeys_command_user }}
AuthorizedKeysCommand {{ sshd_sssd_authorizedkeys_command }}
{% endif %}

##
## END OF 00_sshd_base
##
{% else %}
# SSHD Base configuration disabled, if no other configuration is found SSHD will run with all settings default!
{% endif %}
