# {{ ansible_managed }}
{% if sshd_base_config_enabled %}
# Please place any local additions (NOT overrides!) in /etc/ssh/conf.d in a seperate file
#
# The only overrides possible are for lines that are still commented out (which are the defaults for openssh)
#
# This config is compliant with Mozilla Modern https://infosec.mozilla.org/guidelines/openssh
#
# The only exception is that the root user is still allowed to log on, with pubkey authentication

##
## START OF 00_sshd_base
##

# Server setup
#Port 22
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::
Protocol 2

HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key

# Ciphers and keying
RekeyLimit default none
KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

# Logging
LogLevel INFO

# Authentication
LoginGraceTime 60
PermitRootLogin no
PermitEmptyPasswords no
HostbasedAuthentication no
IgnoreRhosts yes
StrictModes yes
MaxAuthTries 4
MaxSessions 10

AuthenticationMethods publickey
AuthorizedKeysFile	.ssh/authorized_keys
UsePAM yes

# Forwarding
#GatewayPorts no
#X11Forwarding yes
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes

# Security & Hardening
UsePrivilegeSeparation sandbox
PermitUserEnvironment no
#PermitTunnel no
#ChrootDirectory none


# Performance
ClientAliveInterval 300
ClientAliveCountMax 3
TCPKeepAlive yes
Compression yes
#UseDNS no
#MaxStartups 10:30:100

# Housekeeping
#PidFile /var/run/sshd.pid
#VersionAddendum none
Banner /etc/issue.net
PrintMotd no
AcceptEnv LANG LC_* GIT_AUTHOR_* GIT_COMMITER_*
Subsystem	sftp	{{ sshd_sftp_location }}

##
## END OF 00_sshd_base
##
{% else %}
# SSHD Base configuration disabled, if no other configuration is found SSHD will run with all settings default!
{% endif %}
